OpenPlatformPkg
arm-tc53
arm-trusted-firmware
arm64-tc53
edk2
l-loader
optee_os
uefi-tools
53_path.sh
export_paths.sh
gcc-linaro-5.3-2016.02-x86_64_aarch64-linux-gnu.tar.xz
gcc-linaro-5.3-2016.02-x86_64_arm-linux-gnueabihf.tar.xz
grubaa64.efi
hikey-boot-linux-VERSION.uefi.img

